# fw
/fw/Debug/
/fw/Release/
/fw/3piRB-shield_fw.componentinfo.componentinfo.xml
/fw/.vs/

# fw_3pi
/fw_3pi/Debug/
/fw_3pi/Release/
/fw_3pi/3piRB-3pi_fw.componentinfo.xml
/fw_3pi/.vs/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
